/* Write your CSS code here. */
* {
  padding: 0;
  margin: 0;
}
.container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #ffeeee, #ffc0bb);
  font-family: Roboto;
}
.card-container {
  background-color: white;
  height: 300px;
  width: 600px;
  box-shadow: 1px 3px white;
  border-radius: 10px;
}
.heading {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  font-size: 30px;
}
.emojis-container {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  margin: 10px;
}
.emoji {
  height: 60px;
  width: 60px;
}
.emoji-name {
  margin-left: 15px;
}
.thank-container {
  background-color: white;
  height: 300px;
  width: 600px;
  box-shadow: 1px 3px white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.heart {
  padding: 10px;
}
.heart-emoji {
  height: 50px;
  width: 50px;
}
.thq {
  margin: 10px;
}
.thank-container p {
  padding: 10px;
}
